body {
	font-family: sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}
main {
	display: block;
	height: 100%;
	margin: auto;
	padding: 1em;
	width: 600px;
	clear: both;
}

.controls>button {
	border: none;
	background-color: #b6b6b6;
	padding: 10px
}
.controls>button:hover {
	color: #fff !important;
	cursor: pointer;
}

.thumbnails>img {
	margin-right: 5px;
}
.thumbnails.sm>img {
	width: 100px;
}
.thumbnails.md>img {
	width: 125px;
}
.thumbnails.lg>img {
	width: 150px;
}